body{
    text-align: center;
    margin-top: 100px;
}

h1{
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 0;
}
p {
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 0;
    margin-bottom: 20px;
}

#gameboard{
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.square{
    border: 1px solid black;
    
    align-self: stretch;
    font-size: 70px;
    font-family: 'Shadows Into Light', cursive;
}

.buttons{
    font-family: 'Shadows Into Light', cursive;
    margin-top: 20px;
    padding: 5px 40px 5px 40px;
    font-size: 20px;
}